.language-switch-container {
    display: flex;
    border: 1px solid var(--card-border-color);
    border-radius: 9999rem;
    overflow: hidden;
    background-color: var(--card-bg-color);
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.05);
}


.lang-switch-btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--secondary-color);
    transition: all 0.2s ease;
    min-width: 4rem;
    text-align: center;
}


.lang-switch-btn:hover:not(.active) {
    background-color: var(--card-border-color);
    color: var(--text-color);
}


.lang-switch-btn.active {
    background-color: var(--primary-color);
    color: var(--btn-text-color);
    position: relative;
}


html.dark .lang-switch-btn.active {
    filter: brightness(110%);
}
