<header>
  <div class="title-container"><app-logo></app-logo></div>
  @if (!isAuthRoute()) {
  <div class="search-container"><app-search-bar></app-search-bar></div>
  }
  <div class="buttons-container">

    <!-- <button class="theme-toggle-btn" (click)="i18nService.toggleLanguage()" 
        aria-label="Toggle language">
        {{ i18nService.currentLang().toUpperCase() }}
    </button> -->

    @if (isAdmin()){
    <a routerLink="/admin-dashboard" class="icon-link" title="Admin Dashboard">
      <span class="material-symbols-rounded admin-icon">
        admin_panel_settings
      </span>
    </a>
    }

    <app-language-dropdown></app-language-dropdown>

    <button class="theme-toggle-btn" (click)="themeService.toggleMode()">
      @if (themeService.isLightMode) {
      <span class="material-symbols-rounded"> bedtime </span>
      } @else {
      <span class="material-symbols-rounded"> clear_day </span>
      }
    </button>
    <app-profile-dropdown></app-profile-dropdown>
  </div>
</header>