<div class="hero-div">
  <img class="hero-image" src="assets/images/vinyl-store.jpg" alt="" />
  <div class="translucid-layer"></div>
  <div class="main-content">
    <span class="small-text">
      <p>DISCOVER. REVIEW. CONNECT.</p>
    </span>
    <h1 class="main-title">The echo of great music never fades.</h1>
    <p class="description">
      Echoed is your platform to rate, review, and debate the albums that define your world. Ready
      to be heard?
    </p>
    <button class="redirect-button echo-button" (click)="startEchoing()">Echo</button>
  </div>
</div>
