<div class="hero-div">
  <img class="hero-image" src="assets/images/vinyl-store.jpg" alt="" />
  <div class="translucid-layer"></div>
  <div class="main-content">
    <span class="small-text">
      <p>{{ "hero.title" | translate }}</p>
    </span>
    <h1 class="main-title">{{ "hero.main-title" | translate }}</h1>
    <p class="description">
      {{ "hero.description" | translate }}
    </p>
    <button class="redirect-button echo-button" (click)="startEchoing()">
        {{ "hero.echo" | translate }}
    </button>
  </div>
</div>