<div class="comment-card card">
  <div class="comment-header">
    <a [routerLink]="['/profile', comment.userId]" class="comment-username">
      @{{ comment.username }}
    </a>
    <span class="comment-date">{{ comment.createdAt | date:'short' }}</span>
  </div>
  <div class="comment-body">
    <p>{{ comment.text }}</p>
  </div>

  <div class="comment-footer">
    <app-reaction-bar [reactedType]="reactedTypes.COMMENT" [parentId]="comment.commentId"
      [userReaction]="comment.userReaction" [totalLikes]="comment.totalLikes" [totalDislikes]="comment.totalDislikes"
      [totalWows]="comment.totalWows" [totalLoves]="comment.totalLoves" (reactionChange)="onReactionChanged($event)" />
  </div>
</div>