@if (!isLoading) { @if (artist) {
<section class="artist-detail-container">
  <div class="artist-header-block card">
    <div class="cover-container">
      <img [src]="artist.imageUrl" [alt]="'Cover of ' + artist.name" class="album-cover" />
    </div>

    <div class="metadata-info">
      <span class="music-type">{{ "artist-details.artist" | translate}}</span>

      <h1>{{ artist.name }}</h1>

      <div class="artist-meta">
        <span
          >{{ "artist-details.followers" | translate}}<span class="meta-value">{{ artist.followers }} </span></span
        >
        <span> | </span>
        <span>
          <a [href]="artist.spotifyLink" target="_blank">{{ "artist-details.spotify" | translate}}</a>
        </span>
      </div>
    </div>
  </div>
  <app-artist-albums-carousel
    [albums]="artist.albums"
    class="discography-section"
  ></app-artist-albums-carousel>
</section>
} }@else {
<app-loading-spinner [message]="'artist-details.loading' | translate"></app-loading-spinner>
}
