@if (!isLoading) {
@if (artist) {
<section class="artist-detail-container">
    <div class="artist-header-block card">
        <div class="cover-container">
            <img [src]="artist.imageUrl" [alt]="'Cover of ' + artist.name" class="album-cover">
        </div>

        <div class="metadata-info">
            <span class="music-type">ARTIST</span>

            <h1>{{ artist.name }}</h1>

            <div class="artist-meta">
                <span>Followers in Spotify: <span class="meta-value">{{ artist.followers}} </span></span>
                <span> | </span>
                <span>
                    <a [href]="artist.spotifyLink" target="_blank">Listen in Spotify</a>
                </span>
            </div>
            <div class="discography-section">
                <h2>Discography: </h2>
                <div class="album-carousel">
                    @for (item of artist.albums; track $index) {
                    <div class="album-card" [routerLink]="['/albums', item.spotifyId]">
                        <img [src]="item.imageUrl" [alt]="item.title" class="album-img" />
                        <div class="album-info">
                            <h3>{{ item.title }}</h3>

                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>


</section>
}
}@else {
<p class="artist-detail-container">Loading artist details...</p>
}