@if (isLoading()) {
<app-loading-spinner [message]="'song-carousel.loading' | translate"></app-loading-spinner>
} @else if (error()) {
<p class="error-message">{{ error() }}</p>
} @else if (mostReviewedSongs().length > 0) {
<app-generic-carousel
  [title]="'song-carousel.title' | translate"
  [items]="mostReviewedSongs()"
  [itemTemplate]="songItemTemplate"
>
</app-generic-carousel>
} @else {
<p>{{"song-carousel.no-found" | translate}}</p>
}

<ng-template #songItemTemplate let-song>
  <a [routerLink]="['/songs', song.spotifyId]" class="slide-link">
    <img
      [src]="song.imageUrl || 'assets/default-avatar.svg'"
      [alt]="song.name + ' cover'"
      class="song-image"
    />
    <div class="song-info">
      <h3 class="song-title">{{ song.name }}</h3>
      <p class="song-artist">{{ song.artistName }}</p>
    </div>
  </a>
</ng-template>
