<div class="search-container">
  <span class="material-symbols-rounded search-icon">search</span>

  <input
    id="searchInput"
    type="text"
    [placeholder]="'search-bar.search-placeholder' | translate"
    [ngModel]="searchTerm()"
    (ngModelChange)="searchTerm.set($event)"
    (input)="onSearchInput($event)"
    aria-label="Search Bar"
  />

  @if (searchTerm()) {
  <button
    type="button"
    (mousedown)="clearSearch($event)"
    class="clear-button"
    aria-label="Clear search"
  >
    <span class="material-symbols-rounded">close</span>
  </button>
  } @if (isLoading() || error() || (searchResults() && searchTerm())) {
  <div class="results-card">
    @if (isLoading()) {
    <div class="loading-indicator">
      <span class="material-symbols-rounded spin">hourglass_empty</span>
      {{ 'search-bar.searching' | translate }}
    </div>
    } @if (error()) {
    <div class="error-message">
      <span class="material-symbols-rounded">error</span> {{ error() }}
    </div>
    } @if (searchResults(); as results) { @if (results.songs.content.length) {
    <div class="results-section songs">
      <h4>
        <span class="material-symbols-rounded">music_note</span>{{ 'search-bar.songs' | translate }}
      </h4>
      <ul>
        @for (song of results.songs.content; track song.spotifyId) {
        <li (click)="selectItem(song, 'songs')">
          @if(song.imageUrl) {
          <img [src]="song.imageUrl" alt="Song cover" width="40" height="40" loading="lazy" />
          } @else {
          <div class="img-placeholder">
            <span class="material-symbols-rounded">music_note</span>
          </div>
          }
          <div class="item-info">
            <span class="item-title">{{ song.name }}</span>
            <span class="item-subtitle"> {{ song.artistName }} - {{ song.albumName }} </span>
          </div>
        </li>
        } @empty { }
      </ul>
    </div>
    } @if (results.albums.content.length) {
    <div class="results-section albums">
      <h4>
        <span class="material-symbols-rounded">album</span>{{ 'search-bar.albums' | translate }}
      </h4>
      <ul>
        @for (album of results.albums.content; track album.spotifyId) {
        <li (click)="selectItem(album, 'albums')">
          @if(album.imageUrl) {
          <img
            [src]="album.imageUrl"
            [alt]="'Cover for ' + album.title"
            width="40"
            height="40"
            loading="lazy"
          />
          } @else {
          <div class="img-placeholder"><span class="material-symbols-rounded">album</span></div>
          }
          <div class="item-info">
            <span class="item-title">{{ album.title }}</span>
            <span class="item-subtitle">{{ album.artistName }}</span>
          </div>
        </li>
        } @empty { }
      </ul>
    </div>
    } @if (results.artists.content.length) {
    <div class="results-section artists">
      <h4>
        <span class="material-symbols-rounded">person</span>{{ 'search-bar.artists' | translate }}
      </h4>
      <ul>
        @for (artist of results.artists.content; track artist.spotifyId) {
        <li (click)="selectItem(artist, 'artists')">
          @if(artist.imageUrl) {
          <img
            class="artist-img"
            [src]="artist.imageUrl"
            [alt]="'Image of ' + artist.name"
            width="40"
            height="40"
            loading="lazy"
          />
          } @else {
          <div class="img-placeholder artist-img">
            <span class="material-symbols-rounded">person</span>
          </div>
          }
          <div class="item-info">
            <span class="item-title">{{ artist.name }}</span>
          </div>
        </li>
        } @empty { }
      </ul>
    </div>
    } @if (!isLoading() && searchTerm() && !results.songs.content.length &&
    !results.artists.content.length && !results.albums.content.length) {
    <div class="no-results">
      <span class="material-symbols-rounded">search_off</span>
      {{ 'search-bar.no-results' | translate }} "{{ searchTerm() }}".
    </div>
    } }
  </div>
  }
</div>
