<div class="modal-backdrop" (click)="onBackdropClick($event)">
    <div class="modal-content card">
        <h3 class="modal-title">{{"reactivate-account.title" | translate}}</h3>
        <p>
            {{"reactivate-account.description" | translate}}
        </p>

        @if (errorMessage()) {
        <div class="error-api" style="margin-bottom: 1.5rem;">
            {{ errorMessage() }}
        </div>
        }

        <div class="modal-actions">
            <button type="button" class="button secondary" (click)="onCancel()" [disabled]="isLoading()">
                {{"reactivate-account.cancel" | translate}}
            </button>
            <button type="button" class="button primary" (click)="onConfirmReactivate()" [disabled]="isLoading()">
                @if (isLoading()) {
                <span>{{"reactivate-account.reactivating" | translate}}</span>
                } @else {
                <span>{{"reactivate-account.yes" | translate}}</span>
                }
            </button>
        </div>
    </div>
</div>