<article>
    <div class="feature-container">
        <div class="icon-container">
            <span class="material-symbols-rounded icon">search</span>
        </div>
        <h3>{{ "features.search" | translate}}</h3>
        <p>{{ "features.search-2" | translate}}</p>
    </div>
    <div class="feature-container">
        <div class="icon-container">
            <span class="material-symbols-rounded icon">star_rate</span>
        </div>
        <h3>{{ "features.echo" | translate}}</h3>
        <p>{{ "features.echo-2" | translate}}</p>
    </div>
    <div class="feature-container">
        <div class="icon-container">
            <span class="material-symbols-rounded icon">comment</span>
        </div>
        <h3>{{ "features.comment" | translate}}</h3>
        <p>{{ "features.comment-2" | translate}}</p>
    </div>
    <div class="feature-container">
        <div class="icon-container">
            <span class="material-symbols-rounded icon">add_reaction</span>
        </div>
        <h3>{{ "features.reaction" | translate}}</h3>
        <p>{{ "features.reaction-2" | translate}}</p>
    </div>
</article>