<article>
    <div class="feature-container">
        <div class="icon-container">
            <span class="material-symbols-rounded icon">search</span>
        </div>
        <h3>Search music</h3>
        <p>Find any song, album, or artist in Spotify’s global catalog. Discover hidden gems or revisit your favorite classics in seconds. </p>
    </div>
    <div class="feature-container">
        <div class="icon-container">
            <span class="material-symbols-rounded icon">star_rate</span>
        </div>
        <h3>Make an Echo</h3>
        <p>Share what you think and feel. Rate a song or album and tell the story behind your score — your Echo adds a new voice to the mix.</p>
    </div>
    <div class="feature-container">
        <div class="icon-container">
            <span class="material-symbols-rounded icon">comment</span>
        </div>
        <h3>Add a comment in someone's echo</h3>
        <p>Read other users’ Echoes, reply, agree, or challenge their take. Build real discussions around the music you love.</p>
    </div>
    <div class="feature-container">
        <div class="icon-container">
            <span class="material-symbols-rounded icon">add_reaction</span>
        </div>
        <h3>Add a reaction</h3>
        <p>Show what you feel with one tap — like, love, or dislike a review. Your reactions help great opinions stand out.</p>
    </div>
</article>