<article>
    <div class="feature-container">
        <div class="icon-container">
            <span class="material-symbols-rounded icon">search</span>
        </div>
        <h3>Search music</h3>
        <p>Easily find any song, album, or artist across the global Spotify catalog, even if it hasn't been reviewed
            yet. Use the search bar to find your next favorite record or the classic you want to critique. </p>
    </div>
    <div class="feature-container">
        <div class="icon-container">
            <span class="material-symbols-rounded icon">star_rate</span>
        </div>
        <h3>Make an Echo</h3>
        <p>Your opinion is the platform's soundtrack! Add your review, rate it (from 1 to 5), and explain your point of
            view. If the song or album doesn't exist in our database, we create the entry automatically.</p>
    </div>
    <div class="feature-container">
        <div class="icon-container">
            <span class="material-symbols-rounded icon">comment</span>
        </div>
        <h3>Add a comment in someone's echo</h3>
        <p>Foster conversation and debate. Read the "Echoes" left by other users and join the discussion to share your
            thoughts or react to their critique, building a true social network.</p>
    </div>
    <div class="feature-container">
        <div class="icon-container">
            <span class="material-symbols-rounded icon">add_reaction</span>
        </div>
        <h3>Add a reaction</h3>
        <p>Express your sentiment without writing a word. You can react (Like, Love, Wow, Dislike) to reviews or
            comments. This instantly boosts our trending algorithm and gives visibility to the best critiques.</p>
    </div>
</article>