<div class="dropdown">
  <button (click)="toggleDropdown()" class="dropbtn">
    <span class="material-symbols-rounded"> person </span>
  </button>

  @if (isDropdownOpen()) {
  <div class="dropdown-content">

    @if (authService.currentUser()) {
    <a routerLink="/profile" (click)="closeDropdown()"> My Profile </a>
    <a (click)="logout()"> Logout </a>
    } @else {
    <a routerLink="/register" (click)="closeDropdown()"> Sign Up </a>
    <a routerLink="/login" (click)="closeDropdown()"> Login </a>
    }
  </div>
  }
</div>