<div class="dropdown">
  <button (click)="toggleDropdown()" class="dropbtn">
    <span class="material-symbols-rounded"> person </span>
  </button>

  @if (isDropdownOpen()) {
  <div class="dropdown-content">

    @if (authService.currentUser()) {
    <a routerLink="/profile" (click)="closeDropdown()"> {{"profile-dropdown.my-profile" | translate}} </a>
    <a (click)="logout()"> {{"profile-dropdown.logout" | translate}} </a>
    } @else {
    <a routerLink="/register" (click)="closeDropdown()"> {{"profile-dropdown.sign-up" | translate}} </a>
    <a routerLink="/login" (click)="closeDropdown()"> {{"profile-dropdown.login" | translate}} </a>
    }
  </div>
  }
</div>