<div class="modal-backdrop" (click)="onBackdropClick($event)">
    <div class="modal-content card">
        <h3 class="modal-title">{{"deactivate-account-modal.are-you-sure" | translate}}</h3>

        @if (isGoogleAccount) {
        <p>
            {{"deactivate-account-modal.description-google" | translate}}
        </p>
        } @else {
        <p>
            {{"deactivate-account-modal.description-local" | translate}}
        </p>
        }

        <form [formGroup]="deactivateForm" (ngSubmit)="onConfirmDeactivate()">

            @if (!isGoogleAccount) {
            <div class="form-group">
                <label for="password">{{"deactivate-account-modal.password" | translate}}</label>
                <input type="password" id="password" formControlName="password" class="form-input"
                    [class.input-error]="password?.invalid && password?.touched" />
                @if (password?.invalid && password?.touched) {
                <div class="error-validation">
                    <small>{{"deactivate-account-modal.password-required" | translate}}</small>
                </div>
                }
            </div>
            }

            @if (errorMessage()) {
            <div class="error-api">
                {{ errorMessage() }}
            </div>
            }

            <div class="modal-actions">
                <button type="button" class="button secondary" (click)="onCancel()" [disabled]="isLoading()">
                    {{"deactivate-account-modal.cancel" | translate}} </button>
                <button type="submit" class="button danger" [disabled]="deactivateForm.invalid || isLoading()">
                    @if (isLoading()) {
                    <span>{{"deactivate-account-modal.deactivating" | translate}}</span>
                    } @else {
                    <span>{{"deactivate-account-modal.deactivate-account" | translate}}</span>
                    }
                </button>
            </div>
        </form>
    </div>
</div>