<div class="modal-backdrop" (click)="onBackdropClick($event)">
  <div class="modal-content card" (click)="$event.stopPropagation()">
    <h3 class="modal-title">{{modalTitle() | translate}}</h3>
    <button type="button" class="close-button" (click)="onCancel()" aria-label="Close modal">
      ×
    </button>

    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="comment-form">
      <div class="form-group">
        <label for="comment-text">{{"comment-modal.your-comment" | translate}}</label>
        <textarea
          id="comment-text"
          formControlName="text"
          [placeholder]="'comment-modal.comment-placeholder' | translate" 
          rows="5"
          [maxlength]="MAX_CHARS"
          [class.input-error]="text?.invalid && text?.touched"
        ></textarea>
        
        <div class="character-counter">
          {{ characterCount() }} / {{ MAX_CHARS }}
        </div>
        
        @if (text?.invalid && text?.touched) {
          <div class="error-validation">
            @if (text?.errors?.['required']) { <small>{{"comment-modal.comment-empty" | translate}}</small> }
            @if (text?.errors?.['minlength']) { <small>{{"comment-modal.comment-minlength" | translate}}</small> }
          </div>
        }
      </div>

      @if (errorMessage()) {
        <div class="error-api">
          {{ errorMessage() }}
        </div>
      }

      <div class="modal-actions">
        <button type="button" class="button secondary" (click)="onCancel()" [disabled]="isLoading()">
          {{"comment-modal.cancel" | translate}}
        </button>
        <button type="submit" class="button primary" [disabled]="commentForm.invalid || isLoading()">
          @if (isLoading()) {
            <span> 
              {{ commentToEdit ? ('comment-modal.saving-loading' | translate) : ('comment-modal.submitting-loading' | translate) }} 
            </span>
          } @else {
            <span> 
              {{ commentToEdit ? ('comment-modal.save-changes-btn' | translate) : ('comment-modal.submit-comment-btn' | translate) }} 
            </span>
          }
        </button>
      </div>
    </form>
  </div>
</div>