<div class="finish-profile-container">
    <h2>{{ "finish-profile.title" | translate}}</h2>
    <p class="subtitle">{{ "finish-profile.subtitle" | translate}}</p>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">{{ "finish-profile.username" | translate}}</label>
            <input type="text" id="username" formControlName="username" [placeholder]="'finish-profile.placeholder' | translate" />

            @if (username?.invalid && (username?.dirty || username?.touched)) {
            <div class="error-validation">
                @if (username?.errors?.['required']) {
                <small>{{ "finish-profile.required" | translate}}</small>
                }
                @if (username?.errors?.['minlength']) {
                <small>{{ "finish-profile.minlength" | translate}}</small>
                }
                @if (username?.errors?.['maxlength']) {
                <small>{{ "finish-profile.maxlength" | translate}}</small>
                }
                @if (username?.errors?.['pattern']) {
                <small>{{ "finish-profile.pattern" | translate}}</small>
                }
            </div>
            }
        </div>

        @if (errorMessage()) {
        <div class="error-api">
            {{ errorMessage() }}
        </div>
        }

        <button type="submit" [disabled]="profileForm.invalid || isLoading()">
            @if (isLoading()) {
            <span>{{ "finish-profile.save" | translate}}</span>
            } @else {
            <span>{{ "finish-profile.confirm" | translate}}</span>
            }
        </button>
    </form>
</div>
