@if (!isLoading) {
@if (loadError()) {
<div class="album-detail-container">
  <div class="error-alert">
    {{ loadError() }}
  </div>
</div>
} @else if (album) {
<section class="album-detail-container">
  <div class="album-header-block card">
    <div class="cover-container">
      <img [src]="album.imageUrl" [alt]="'Cover of ' + album.title" class="album-cover">
    </div>

    <div class="metadata-info">
      <span class="music-type">ALBUM</span>

      <h1>{{ album.title }}</h1>

      <p class="artist-name">
        <a [routerLink]="['/artists', album.artistSpotifyId]">{{ album.artistName }}</a>
      </p>

      <div class="album-meta">
        <span>Release date: <span class="meta-value">{{ album.releaseDate}} </span></span>
        <span> | </span>
        <span> <a href={{album.spotifyLink}} target="_blank">Listen in Spotify</a></span>

      </div>
      <div class="album-btn">
        <button class="primary write-review-btn" (click)="openReviewModal()">
          Make an Echo
        </button>
        <button class="primary write-review-btn" (click)="openTracklist()">
          {{ showTracks ? 'Hide Tracklist' : 'Show Tracklist' }}
        </button>
      </div>




      @if (errorMessage()) {
      <div class="error-alert">
        {{ errorMessage() }}
      </div>
      }
    </div>
  </div>

  <div class="track-section card" [class.is-open]="showTracks">
    <h2>Tracks</h2>
    <ol class="track-list">
      <li class="track-header">
        <span class="track-number">#</span>
        <span class="track-title-header">Title</span>
        <span class="track-duration">Duration</span>
      </li>
      @for (track of album.songs; track track.spotifyId; let i = $index) {
      <li class="track-row" [routerLink]="['/songs', track.spotifyId]">
        <span class="track-number">{{ i + 1 }}</span>
        <div class="track-info">
          <span class="track-title">{{ track.name }}
            @if(track.explicit){
            <span class="material-symbols-rounded">explicit</span>
            }
          </span>
          <span class="track-artist">{{ track.artistName }}</span>

        </div>

        <span class="track-duration">{{ formatDuration(track.durationMs) }}</span>
      </li>
      } @empty {
      <p class="empty-list-message">No tracks found for this album.</p>
      }
    </ol>
  </div>




  <div class="community-reviews">
    <h2>Our Community's Echoes:</h2>
    <app-review-list
    [reviews]="reviews()"
    [loading]="isLoadingReviews()"
    [showMusicInfo]="false"
    [showUserAvatar]="true"
    emptyMessage="No reviews yet. Be the first to make an echo!"
    (reviewDeleted)="onReviewDeleted($event)"
    (reviewEditRequest)="onReviewEditRequest($event)"
    ></app-review-list>

  </div>
</section>

@if (isModalOpen() && album) {
<app-review-modal [type]="'album'" [item]="album" [existingReview]="reviewToEdit()" (closed)="closeReviewModal()"
  (submitted)="handleReviewSubmit($event)">
</app-review-modal>
}
}
}@else {
<app-loading-spinner message="Loading album details..."></app-loading-spinner>
}