<div class="review-card card" [class.modal-is-open]="isCommentModalVisible()">

  <div class="review-clickable-content" (click)="onCardClick()">
    @if (showMusicInfo) {
    <div class="music-info">
      <a [routerLink]="getMusicLink()" (click)="$event.stopPropagation()" class="music-link">
        <img [src]="getMusicImage()" [alt]="getMusicTitle() + ' cover'" class="music-thumbnail" />
      </a>
      <div class="music-details">
        <a [routerLink]="getMusicLink()" (click)="$event.stopPropagation()" class="music-title">{{ getMusicTitle()
          }}</a>
        <p class="music-artist">{{ getMusicArtist() }}</p>
      </div>
    </div>
    } @if (showUsername || showDate) {
    <div class="review-header">
      <div class="user-avatar-info-wrapper"> 
        @if (showUserAvatar) {
        <a [routerLink]="getUserProfileLink()" (click)="$event.stopPropagation()" class="user-avatar-link">
            <img [src]="userAvatarUrl()" [alt]="review.user.username + ' avatar'" class="user-avatar" />
        </a>
        }
        <div class="user-info">
          @if (showUsername) {
          <a [routerLink]="getUserProfileLink()" (click)="$event.stopPropagation()" class="username">
            <strong>@{{ review.user.username }}</strong>
          </a>
          } @if (showDate) {
          <span class="review-date">{{ review.date | date : 'short' }}</span>
          }
        </div>
      </div>
      @if (showRating) {
      <div class="rating">
        <span class="stars">
          @for (star of getStarArray(); track star) {
          <span class="star" [class.filled]="isStarFilled(star)" [class.half]="isStarHalf(star)"
            [class.empty]="!isStarFilled(star) && !isStarHalf(star)"></span>
          }
        </span>
      </div>
      }
    </div>
    } @if (showDescription && review.description) {
    <div class="review-content">
      <p>{{ review.description }}</p>
    </div>
    }
  </div>

  @if(showActions) {
  <div class="review-footer">
    <app-reaction-bar [reactedType]="reactedTypes.REVIEW" [parentId]="reviewId()" [userReaction]="review.userReaction"
      [totalLikes]="review.totalLikes" [totalDislikes]="review.totalDislikes" [totalLoves]="review.totalLoves"
      [totalWows]="review.totalWows" (reactionChange)="onReactionChanged($event)" />

    <div class="comment-actions">
      <button (click)="toggleCommentList($event)" class="action-button">
        <span class="material-symbols-rounded">
          {{ isCommentListVisible() ? 'forum' : 'forum' }}
        </span>
        @if (commentCount() > 0) {
        <span class="comment-count">{{ commentCount() }}</span>
        }
      </button>
      <button (click)="openCommentModal($event)" class="action-button">
        <span class="material-symbols-rounded">add_comment</span>
      </button>
      @if (isOwner()) {
      <button (click)="onDeleteReview()" class="action-button delete-btn" aria-label="Delete Echo">
        <span class="material-symbols-rounded">delete</span>
      </button>
      }
    </div>
  </div>
  } @if (isCommentListVisible()) {
  <app-comment-list [reviewId]="reviewId()" [reviewType]="reviewType()" (deleted)="handleCommentDeleted()" />
  } @if (isCommentModalVisible()) {
  <app-comment-modal [reviewId]="reviewId()" [reviewType]="reviewType()" (close)="closeCommentModal()"
    (submitted)="handleCommentSubmitted($event)" />
  }
</div>

@if (isDeleteModalVisible()) {
  <app-delete-confirmation-modal [target]="deletionTarget()" [isLoading]="isDeleting()" (confirm)="onConfirmDelete()"
  (close)="onCloseDeleteModal()" />
}

