<div class="modal-backdrop" (click)="onBackdropClick($event)">
    <div class="modal-content card">
        <h3 class="modal-title">{{"change-password-modal.title" | translate}}</h3>
        <p>
            {{"change-password-modal.subtitle" | translate}}
        </p>

        <form [formGroup]="passwordForm" (ngSubmit)="onConfirmChange()">

            <div class="form-group">
                <label for="currentPassword">{{"change-password-modal.current-password" | translate}}</label>
                <input [type]="passwordsHidden() ? 'password' : 'text'" id="currentPassword"
                    formControlName="currentPassword" class="form-input"
                    [class.input-error]="currentPassword?.invalid && currentPassword?.touched" />
                @if (currentPassword?.invalid && currentPassword?.touched) {
                <div class="error-validation">
                    <small>{{"change-password-modal.current-password-required" | translate}}</small>
                </div>
                }
            </div>

            <div class="form-group">
                <label for="newPassword"> {{"change-password-modal.new-password" | translate}}
                </label>
                <input [type]="passwordsHidden() ? 'password' : 'text'" id="newPassword" formControlName="newPassword"
                    class="form-input" [class.input-error]="newPassword?.invalid && newPassword?.touched" />
                @if (newPassword?.invalid && newPassword?.touched) {
                <div class="error-validation">
                    @if (newPassword?.errors?.['required']) { <small>{{"change-password-modal.new-password-required" | translate}}</small> }
                    @if (newPassword?.errors?.['minlength']) { <small>{{"change-password-modal.new-password-minlength" | translate}}</small> }
                </div>
                }
            </div>

            <div class="form-group">
                <label for="confirmPassword">{{"change-password-modal.confirm-password" | translate}}</label>
                <input [type]="passwordsHidden() ? 'password' : 'text'" id="confirmPassword"
                    formControlName="confirmPassword" class="form-input"
                    [class.input-error]="(confirmPassword?.invalid && confirmPassword?.touched) || passwordForm.errors?.['passwordMismatch']" />
                @if (confirmPassword?.invalid && confirmPassword?.touched) {
                <div class="error-validation">
                    <small>{{"change-password-modal.confirm-new-password" | translate}}</small>
                </div>
                }
                @if (passwordForm.errors?.['passwordMismatch'] && confirmPassword?.touched) {
                <div class="error-validation">
                    <small>{{"change-password-modal.password-error" | translate}}</small>
                </div>
                }
            </div>

            <div class="form-check">
                <button type="button" class="button-as-link" (click)="togglePasswordsVisibility()">
                    @if (passwordsHidden()) {
                    <span class="material-symbols-rounded">visibility</span> {{"change-password-modal.show-password" | translate}}
                    } @else {
                    <span class="material-symbols-rounded">visibility_off</span> {{"change-password-modal.hide-password" | translate}}
                    }
                </button>
            </div>
            @if (errorMessage()) {
            <div class="error-api">
                {{ errorMessage() }}
            </div>
            }

            <div class="modal-actions">
                <button type="button" class="button secondary" (click)="onCancel()" [disabled]="isLoading()">
                    {{"change-password-modal.cancel" | translate}}
                </button>
                <button type="submit" class="button primary" [disabled]="passwordForm.invalid || isLoading()">
                    @if (isLoading()) {
                    <span>{{"change-password-modal.saving" | translate}}</span>
                    } @else {
                    <span>{{"change-password-modal.save" | translate}}</span>
                    }
                </button>
            </div>
        </form>
    </div>
</div>