@if (!isLoading) {
<section *ngIf="song" class="song-detail-container">

    <div class="song-header-block card">
        <div class="cover-container">
            <img [src]="song?.imageUrl" [alt]="'Cover of ' + song?.albumName" class="album-cover">
        </div>

        <div class="metadata-info">
            <span class="music-type">SONG</span>

            <h1>{{ song?.name }}</h1>

            <p class="artist-name">
                <a [routerLink]="['/artists', song?.artistSpotifyId]">{{ song?.artistName }}</a>
            </p>
            <p class="album-name">
                <a [routerLink]="['/albums', song?.albumSpotifyId]">{{ song?.albumName }}</a>
            </p>

            <div class="song-meta">
                <span>Release date: <span class="meta-value">{{ song?.releaseDate}} </span></span>
                <span> | </span>
                <span> Duration: <span class="meta-value">{{ formatDuration(song?.durationMs) }}</span></span>
                <span> | </span>
                <span> <a href={{song.spotifyLink}}>Listen in Spotify</a></span>

            </div>
            <button class="primary write-review-btn">
                Add an Echo
            </button>



        </div>
    </div>

    <div class="community-reviews">
        <h2>Our Community's Echoes:</h2>

        <div class="review-card card">
            <div class="review-author-header">
                <span class="author-initial">A</span>
                <span class="author-name">Alex</span> <span class="date">hace 2 días</span>
            </div>
            <p class="review-content">Un clásico moderno. La producción de Daft Punk es impecable y la voz de The Weeknd
                crea una atmósfera única. La línea de bajo es simplemente adictiva.</p>
            <div class="review-actions">
                <span class="material-symbols-rounded like-icon">thumb_up</span> 125
                <span class="material-symbols-rounded dislike-icon">thumb_down</span> 42
                <span class="material-symbols-rounded comment-icon">comment</span> 58
            </div>
        </div>

        <div class="review-card card">
            <div class="review-author-header">
                <span class="author-initial initial-secondary">M</span>
                <span class="author-name">María</span> <span class="date">hace 1 día</span>
            </div>
            <p class="review-content">Totalmente de acuerdo con lo de la línea de bajo!</p>
            <div class="review-actions">
                <span class="material-symbols-rounded like-icon">thumb_up</span> 12
            </div>
        </div>
    </div>

</section>
}@else {
<p>Loading song details...</p>

}